{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="ul-detail card-1">
            <ul>
                <li>{{ article.description }}</li>
                <hr>
                {% if article.detail %}
                    <li><p class="text-p">{{ article.detail }}</p></li>
                {% else %}
                    <p><i>Без деталей</i></p>
                {% endif %}
                <hr>
                {% for j in choices %}
                    {% if article.status in j %}
                        <p class="card-text">Статус: {{ j.1 }}</p>
                    {% endif %}
                {% endfor %}
                <hr>
                {% if i.date %}
                    <p>{{ i.date }}</p>
                {% else %}
                    <p><i>Без срока</i></p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}